	body{
		background-color: orange;
		color: black;
		text-align: center;
		min-width: 1000px;
	}
	
	.headimg img{
		margin-top: 0;
		border-radius: 50%;
		text-align: center;
		display: block;
		
	}
	
	.headbtn-group button{
		background-color: #AA6808;
		border: 1px #AA6808;
		color: white;
		cursor: pointer;
		padding: 10px 24px;
		display: inline-block;
		vertical-align: bottom;
		width: 10%;
		float: 0%;
	}
	.headbtn-group button:after {
		content: "";
		clear: both;
		display: table;
	}
	.headbtn-group button:not(:last-child) {
		border-right: none; /* Prevent double borders */
	}