header{
		margin-top: 0;
		background: orange;
	}

	body{
		background-color: orange;
		text-align: center;
		margin: 0px;
	}

	.home {
		background-color: #3D3528; /* Brown background */
		border: 1px solid brown; /* brown border */
		color: white; /* White text */
		padding: 10px 24px; /* Some padding */
		text-align: center;
		text-decoration: none;
		cursor: pointer; /* Pointer/hand icon */
		font-size: 24px; /*Font size bigly*/
		position: relative;
		
	}
	